<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASF2jPRSN8pEEUOE9aHpuJG_Wh61EtVVA</string>
	<key>GCM_SENDER_ID</key>
	<string>749621297064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkdistributorvns.businessapp</string>
	<key>PROJECT_ID</key>
	<string>rkd-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rkd-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749621297064:ios:f364a3c908afe1bda3a79d</string>
</dict>
</plist>